body {
    padding: 5rem 10rem;
}

li {
    line-height: 2rem;
}

.failed {
    color: red;
    font-size: 40px;
    border: 6px solid red;
    border-radius: 10px;
    padding: 8px 60px;
    position: absolute;
    transform: rotate (45deg) translate(-200,-250px);
    text-shadow: 4px 1px 6px rgba (0,0,0,0,6);
}